<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charest=utf-8">
		<title>请假记录</title>
		<load href="__PUBLIC__/Css/basic.css"/>
		<load href="__PUBLIC__/Css/Home/first.css"/>
		<load href="__PUBLIC__/Js/jquery.js"/>
	</head>
	<body>
		<div id='wapper'>
			<div id="head1">
		</div>
		<div id='head'>
			<font size="5">学生请假信息
		</div>
		<div id='main1'>
		<table width=96% border="1" align="center">
			<tr>
				<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp姓名</td>
			 	<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp班级</td> 
			 	<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp学号</td>
			 	<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp起始日期</td>
				<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp截止日期</td>
				<td><font size="4" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp联系方式</td>
			 	<td>
			 		<a href='__APP__/Home/Delete/delete?id={$vo.id}'>增添</a>
					<a href='__APP__/Home/Delete/delete?id={$vo.id}'>查询</a>
					<a href='__APP__/Home/Enter/enter'>返回</a>
				</td>
			</tr>
		</div>
		<div id='main2'>
				<foreach name='list' item='vo'>
						<tr>
							<td>{$vo.usename}</td>
							<td>{$vo.useclass}</td>
							<td>{$vo.usenum}</td>
							<td>{$vo.sdata}</td>
							<td>{$vo.edata}</td>
							<td>{$vo.usepnum}</td>
							<td>
								<a href='__APP__/Home/Update/update?id={$vo.id}'>修改</a>
								<a href='__APP__/Home/Delete/delete?id={$vo.id}'>删除</a>
							</td>
							</tr>
							</foreach>		
						</div>
					</div>
	</body>
</html> 
